* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: Helvetica, Arial, sans-serif;
  background: grey;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.header {
  background: green;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  background: red;
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  max-height: auto;
}

.footer {
  background: blue;
  width: 100%;
}

button, .title {
  cursor: pointer;
}

h2, p {
  cursor: default;
}

input[name=id] {
  display: none;
}

.header span {
  display: none;
}

.header form {
  margin: -2vh 0 0;
}

.header input[type=submit] {
  height: 5vh;
  width: 15vw;
}

.title {
  padding: 1vh 0 0;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
}

.navigation button {
  height: 5vh;
  width: 30vw;
}

.body div {
  background: yellow;
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.body ol {
  list-style: none;
}

.body ol li:last-child {
  padding: 0;
}

.body li {
  background: purple;
  display: flex;
  justify-content: space-between;
  padding: 0 0 1vh;
}

.p1 {
  font-size: 1.25rem;
  font-weight: 500;
}

.p2 {
  font-size: 1.125rem;
}

.p3 {
  font-size: 1rem;
}

h1 {
  color: #eee;
  font-size: 2rem;
  letter-spacing: 1vw;
}

h2 {
  font-size: 1.5rem;
  padding: 0 0 1vh;
}

.view-search h2 {
  padding: 0;
}

h3 {
  font-size: 1.25rem;
  text-indent: 5vw;
  padding: 0 0 1vh;
}

h4 {
  font-size: 1rem;
}

.view-notes h2 {
  display: none;
}

.login,
.register {
  margin: 10vh auto;
  padding: 1vh 1vw;
}

.login form,
.register form,
.create-note form,
.edit-note form,
.create-tag form,
.edit-tag form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login input[type=text],
.login input[type=password],
.register input[type=text],
.register input[type=password],
.create-note input[type=text],
.edit-note input[type=text],
.create-tag input[type=text],
.edit-tag input[type=text],
.header input[type=text] {
  height: 5vh;
  box-sizing: border-box;
  width: 50vw;
  text-indent: 2.5vw;
  margin: 0.5vh 0 1vh;
}

.header input[type=text] {
  margin: 0 0 1vh;
}

.login input[type=submit],
.login button,
.register input[type=submit],
.register button,
.create-note input[type=submit],
.edit-note input[type=submit],
.create-tag input[type=submit],
.edit-tag input[type=submit] {
  height: 5vh;
  width: 50vw;
  margin: 1vh 5vw 0;
}

.login button {
  margin: 0.5vh 15vw 0;
}

.or {
  width: auto;
  padding: 0.5vh 0 0;
  text-align: center;
}

.list-info {
  flex: 10;
  align-self: flex-start;
  padding: 1vh 1vw;
}

.list-info p {
  padding: 0.5vh 0 0.5vh;
}

.list-buttons {
  flex: 1;
  justify-content: center;
}

.view-tags .list-buttons {
  flex-direction: row;
  align-items: center;
}

.view-notes,
.view-tags,
.view-search,
.create-note,
.create-tag,
.edit-note,
.edit-tag {
  padding: 1vh 1vw;
  margin: 0 auto;
}

.list-buttons button {
  height: 5vh;
  width: 10vw;
}

.footer-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 80vw;
}

.footer-buttons button,
.invisible-delete-button {
  height: 5vh;
  width: 30vw;
}


@media only screen and (min-width: 768px) {

  .title {
    padding: 0.5vh;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    text-indent: 2.5rem;
  }

  .body div {
    width: 50vw;
  }

  .view-notes li,
  .view-search li {
    width: 45vw;
    margin: 0 auto;
  }

  .view-tags li {
    width: 35vw;
    margin: 0 auto;
  }

  .header input[type=text] {
    width: 30vw;
  }

  .list-buttons button {
    width: 5vw;
  }

  .header input[type=submit] {
    width: 10vw;
  }

  .navigation button,
  .login input[type=submit],
  .login button,
  .register input[type=submit],
  .register button,
  .create-note input[type=submit],
  .edit-note input[type=submit],
  .create-tag input[type=submit],
  .edit-tag input[type=submit],
  .footer-buttons button {
    width: 20vw;
  }

  .login input[type=text],
  .login input[type=password],
  .register input[type=text],
  .register input[type=password],
  .create-note input[type=text],
  .edit-note input[type=text],
  .create-tag input[type=text],
  .edit-tag input[type=text],
  .header input[type=text] {
    width: 35vw;
  }

  .navigation,
  .footer-buttons {
    width: 50%;
  }

  .navigation button,
  .footer-buttons button {
    width: 15vw;
  }

}


@media (hover: hover) {
  
  .list-buttons button {
    opacity: 0;
    transition: opacity 0.5s;
  }

  li:hover .edit-button {
    opacity: 0.5;
  }
  
  li:hover .delete-button {
    opacity: 0.5;
  }

  li:hover .edit-button:hover {
    opacity: 1;
  }
  
  li:hover .delete-button:hover {
    opacity: 1;
  }

}
