* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: Helvetica, Arial, sans-serif;
  background: #111;
  color: #111;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.header {
  background: #406e405b;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 0;
}

.body {
  background: #111;
  width: 100%;
  flex: 1;
  max-height: auto;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.body::-webkit-scrollbar { 
  width: 0;
}

.footer {
  background: #406e405b;
  width: 100%;
  padding: 1vh 0;
}

button, 
.title {
  cursor: pointer;
}

h2, p {
  cursor: default;
}

input[name=id] {
  display: none;
}

.header span {
  display: none;
}

.header form {
  margin: -3vh 0 0;
}

.header input[type=submit] {
  height: 5vh;
  width: 10vh;
}

.invisible-search {
  height: 7vh;
}

.title {
  letter-spacing: 0.25em;
  padding: 0 0 0.5vh;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  width: 60vh;
}

.navigation button {
  height: 5vh;
  width: 20vh;
}

.body div {
  background: #ecececec;
  display: flex;
  flex-direction: column;
  width: 45vh;
}

.body label span {
  font-size: 90%;
}

.body ol {
  list-style: none;
}

.body .view-notes li:first-child {
  padding: 0;
}

.body li {
  background: #111;
  display: flex;
  justify-content: space-between;
  padding: 1vh 0 0;
}

.body form {
  padding: 1vh 0 0;
}

.p1 {
  font-size: 1.25rem;
  font-weight: 500;
}

.p2 {
  font-size: 1.125rem;
}

.p3 {
  font-size: 1rem;
}

h1 {
  color: #ecececec;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  padding: 0 0 1vh;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

.view-notes h2 {
  display: none;
}

.view-tags h2 {
  padding: 1vh;
}

.view-search h2 {
  padding: 1vh;
}

.view-search h3 {
  text-align: center;
  padding: 0 0 1vh;
}

.view-search h4 {
  text-align: center;
  padding: 0 1vh 1vh;
}

.view-tags h4,
.view-notes h4 {
  text-align: center;
}

.view-tags h4:first-child,
.view-notes h4:first-child {
  padding: 0 0 1vh;
}

.login,
.register {
  margin: 10vh auto;
  padding: 1vh 1vh;
}

.login form,
.register form,
.create-note form,
.edit-note form,
.create-tag form,
.edit-tag form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login input[type=text],
.login input[type=password],
.register input[type=text],
.register input[type=password],
.create-note input[type=text],
.edit-note input[type=text],
.create-tag input[type=text],
.edit-tag input[type=text],
.header input[type=text] {
  height: 5vh;
  box-sizing: border-box;
  width: 40vh;
  text-indent: 2.5vh;
  margin: 0.5vh 0 1vh;
}

.header input[type=text] {
  width: 30vh;
  margin: 0 0 1vh;
}

.login input[type=submit],
.login button,
.register input[type=submit],
.register button,
.create-note input[type=submit],
.edit-note input[type=submit],
.create-tag input[type=submit],
.edit-tag input[type=submit] {
  height: 5vh;
  width: 30vh;
  margin: 1vh 5vh 0;
}

.login button,
.register button {
  margin: 0.5vh 7.5vh 0;
}

.or {
  background: transparent !important;
  width: auto;
  padding: 0.5vh 0 0;
  text-align: center;
}

.list-info {
  flex: 10;
  align-self: flex-start;
  padding: 2vh 2vh;
}

.list-info p {
  padding: 0.5vh 0 0.5vh;
}

.list-buttons {
  flex: 1;
  justify-content: center;
}

.view-tags .list-buttons {
  flex-direction: row;
  align-items: center;
}

.view-notes,
.view-tags,
.view-search {
  margin: 1vh auto;
}

.create-note,
.create-tag,
.edit-note,
.edit-tag {
  margin: 5vh auto;
  padding: 2vh;
}

.list-buttons button {
  height: 50%;
  width: 10vh;
}

.view-tags .list-buttons button {
  height: 100%;
}

.footer-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 60vh;
}

.footer-buttons button,
.invisible-delete-button {
  height: 5vh;
  width: 20vh;
}


@media only screen and (min-width: 768px) {

  h1 {
    font-size: 3rem;
  }

  .title {
    letter-spacing: 0.5em;
  }

  .header input[type=text] {
    width: 30vh;
  }

  .list-buttons button {
    width: 7.5vh;
  }

  .header input[type=submit] {
    width: 10vh;
  }

  .login input[type=submit],
  .login button,
  .register input[type=submit],
  .register button,
  .create-note input[type=submit],
  .edit-note input[type=submit],
  .create-tag input[type=submit],
  .edit-tag input[type=submit] {
    width: 25vh;
  }

  .navigation button,
  .footer-buttons button {
    width: 20vh;
  }

  .login input[type=text],
  .login input[type=password],
  .register input[type=text],
  .register input[type=password],
  .create-note input[type=text],
  .edit-note input[type=text],
  .create-tag input[type=text],
  .edit-tag input[type=text],
  .header input[type=text] {
    width: 35vh;
  }

  .login button,
  .register button {
    margin: 0.5vh 10vh 0;
  }

  .header form {
    margin: -2vh 0 0;
  }

}


@media only screen and (min-height: 1024px) {

  .header form {
    margin: -1.5vh 0 0;
  }

}


@media (hover: hover) {
  
  .list-buttons button {
    opacity: 0;
    transition: opacity 0.5s;
  }

  li:hover .edit-button {
    opacity: 0.5;
  }
  
  li:hover .delete-button {
    opacity: 0.5;
  }

  li:hover .edit-button:hover {
    opacity: 1;
  }
  
  li:hover .delete-button:hover {
    opacity: 1;
  }

}
