* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: Helvetica, Arial, sans-serif;
  background: #111;
  color: #111;
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  width: 100vw;
  overflow: hidden;
}

.header {
  background-image: linear-gradient(to bottom, #406e405b, #355c355b);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
  z-index: 1;
  box-shadow: 0 0.1rem 0.5rem #111;
}

.body {
  background: #111;
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.footer {
  background: #111;
  background-image: linear-gradient(to bottom, #406e405b, #355c355b);  
  width: 100%;
  padding: 0.5rem 0 0.5rem;
  z-index: 1;
  box-shadow: 0 0.1rem 0.5rem #111;
}

button, 
.title {
  cursor: pointer;
}

h1 {
  font-size: 2.5rem !important;
}

h2, p {
  cursor: default;
}

input[name=id] {
  display: none;
}

.search-span {
  display: none;
}

.search .input {
  z-index: 1;
}

.search input[type=submit]:hover {
  z-index: 2;
}

.input:focus {
  border-color: #ececec !important;
  box-shadow: 0 0 0.5rem #111;
}

.header input[type=submit] {
  height: 5vh;
  width: 10vh;
}

.invisible-search {
  height: 7vh;
}

.title {
  letter-spacing: 0.25rem;
  margin-bottom: 0 !important;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 41vh;
}

.navigation button {
  height: 5vh;
  width: 20vh;
}

.body div {
  display: flex;
  flex-direction: column;
  width: 45vh;
}

.body label span {
  font-size: 90%;
}

.body ol {
  list-style: none;
}

.body .view-notes li:first-child {
  padding: 0;
}

.body li {
  background: #ecececec;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.body form {
  padding: 0.5rem 0 0;
}

.p1 {
  font-size: 1.25rem;
  font-weight: 500;
}

.list-info > .p1 {
  white-space: nowrap;
}

.p2 {
  font-size: 1.125rem;
}

.p3 {
  font-size: 1rem;
}

h2 {
  font-size: 1.5rem;
  padding: 0 0 0.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

.search .input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.view-notes h2 {
  display: none;
}

.view-tags h2,
.view-search h2 {
  margin: 0.5rem auto 0 !important;
  padding: 0;
}

.view-tags-title {
  border-radius: 1rem;
}

.view-tags h2:before {
  border-radius: 1rem;
}

.view-search h3 {
  text-align: center;
  margin: 0 auto 0.5rem !important;
}

.view-search h4 {
  text-align: center;
  padding: 0 0 0.5rem;
}

.view-tags h4,
.view-notes h4 {
  text-align: center;
}

.view-tags h4:first-child,
.view-notes h4:first-child {
  padding: 0 0 0.5rem;
}

.login,
.register {
  background: #ecececec;
  border-radius: 1rem;
  margin: 10vh auto 0;
  padding: 0.5rem;
}

.login form,
.register form,
.create-note form,
.edit-note form,
.create-tag form,
.edit-tag form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login input[type=text],
.login input[type=password],
.register input[type=text],
.register input[type=password],
.create-note input[type=text],
.edit-note input[type=text],
.create-tag input[type=text],
.edit-tag input[type=text],
.header input[type=text] {
  height: 5vh;
  box-sizing: border-box;
  width: 40vh;
  margin: 0 0 2vh;
}

.create-note input[name=tags],
.edit-note input[name=tags] {
  margin: 0;
}

.header input[type=text] {
  width: 30vh;
  margin: 0 0 0.5rem;
}

.button,
input[type=submit] {
  line-height: 0;
}

.login input[type=submit],
.login button,
.register input[type=submit],
.register button,
.create-note input[type=submit],
.edit-note input[type=submit],
.create-tag input[type=submit],
.edit-tag input[type=submit] {
  height: 5vh;
  width: 30vh;
  margin: 0.5rem 5vh 0;
}

.login h2,
.register h2 {
  margin-bottom: 0 !important;
}

.login button,
.register button {
  margin: 0.25rem 6.5vh 0;
}

.or {
  background: transparent !important;
  margin: 0.25rem auto 0;
  width: 5vh !important;
  text-align: center;
}

.help {
  opacity: 0.5;
  margin-top: 0.1rem;
}

.note {
  flex-direction: column;
}

.list-info {
  flex: 1;
  align-self: flex-start;
  padding: 0.5rem 2vh;
}

.list-info p {
  padding: 0.25rem 0 0.25rem;
}

.list-buttons {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.view-search .list-buttons,
.view-notes .list-buttons,
.view-tags .list-buttons {
  flex-direction: row;
}

.view-notes,
.view-tags,
.view-search {
  margin: 0.5rem auto;
}

.create-note,
.create-tag,
.edit-note,
.edit-tag {
  background: #ecececec;
  margin: 5vh auto;
  padding: 2vh;
  border-radius: 1rem;
}

.create-note h2,
.create-tag h2,
.edit-note h2,
.edit-tag h2 {
  margin-bottom: 0 !important;
}

.list-buttons button {
  flex: 1;
  height: 6vh;
  border: 1px solid #dbdbdb !important;
}

.view-tags ol {
  width: 90%;
  margin: 0 auto;
}

.view-search .list-buttons button:first-child,
.view-notes .list-buttons button:first-child {
  margin: 0 0 0.25rem 0.25rem;
  border-radius: 1rem 0 0 1rem;
}

.view-search .list-buttons button:nth-child(2),
.view-notes .list-buttons button:nth-child(2) {
  margin: 0 0.25rem 0.25rem 0;
  border-radius: 0 1rem 1rem 0;
}

.view-tags .list-buttons button {
  height: 6vh;
  width: 12.5vh;
}

.view-tags .list-buttons button:first-child {
  margin: 0.25rem 0 0.25rem 0.25rem;
  border-radius: 1rem 0 0 1rem;
}

.view-tags .list-buttons button:nth-child(2) {
  margin: 0.25rem 0.25rem 0.25rem 0;
  border-radius: 0 1rem 1rem 0;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 41vh;
}

.footer-buttons button,
.invisible-delete-button {
  height: 5vh;
  width: 20vh;
}

label.field:not(:last-child) {
  margin-bottom: 0.25rem;
}

span.label:not(:last-child) {
  margin-bottom: 0.25rem;
}

.list-info {
  border-radius: 1rem 0 0 1rem;
}

.list-buttons {
  border-radius: 0 1rem 1rem 0;
}

.search-title,
.tags-title {
  background: #ecececec;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}


@media only screen and (min-width: 768px) {

  h1 {
    font-size: 3.5rem !important;
  }

  .title {
    letter-spacing: 0.5rem;
  }

  .header input[type=text] {
    width: 30vh;
  }

  .header input[type=submit] {
    width: 10vh;
  }

  .list-buttons button {
    opacity: 0.75;
    width: 7.5vh;
    height: 4vh;
  }

  .view-tags .list-buttons button {
    height: 4vh;
    width: 10vh;
  }

  .login input[type=submit],
  .login button,
  .register input[type=submit],
  .register button,
  .create-note input[type=submit],
  .edit-note input[type=submit],
  .create-tag input[type=submit],
  .edit-tag input[type=submit] {
    width: 25vh;
  }

  .navigation button,
  .footer-buttons button {
    width: 20vh;
  }

  .login input[type=text],
  .login input[type=password],
  .register input[type=text],
  .register input[type=password],
  .create-note input[type=text],
  .edit-note input[type=text],
  .create-tag input[type=text],
  .edit-tag input[type=text],
  .header input[type=text] {
    width: 35vh;
  }

  .login button,
  .register button {
    margin: 0.25rem 9vh 0;
  }

  .login,
  .register {
    margin: 15vh auto 0;
    padding: 0.5rem;
  }

}


@media only screen and (min-width: 1024px) {

  .login,
  .register {
    margin: 10vh auto 0;
    padding: 0.5rem;
  }

  .list-buttons button {
    height: 6vh;
  }
  
  .view-tags .list-buttons button {
    height: 6vh;
    width: 7.5vh;
  }

}


@media (hover: hover) {

  .list-buttons button {
    opacity: 0.5;
    transition: opacity 0.5s;
  }

  li:hover .edit-button {
    opacity: 0.5;
  }
  
  li:hover .delete-button {
    opacity: 0.5;
  }

  li:hover .edit-button:hover {
    opacity: 1;
  }
  
  li:hover .delete-button:hover {
    opacity: 1;
  }

  .header input[type=submit],
  .navigation button,
  .footer-buttons button {
    opacity: 0.9;
    transition: all 0.25s;
  }

  .header input[type=submit]:hover,
  .navigation button:hover,
  .footer-buttons button:hover {
    opacity: 1;
    border-color: #ececec;
    box-shadow: 0 0 0.25rem #ececec;
  }

}
